<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
		   <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
            <!-- Obtain Your NuGet Feed URL: https://nuget.devexpress.com/-->
		</packageSources>
    <packageRestore>
    	<add key="enabled" value="False" />
      <add key="automatic" value="False" />
    </packageRestore>
</configuration>