<h2>Home</h2>

<script>
    function OnCustomizeThumbnail(fileManagerItem) {
        console.log(fileManagerItem);
        return fileManagerItem.dataItem ? fileManagerItem.dataItem.thumbnailUrl : null;
    }
</script>
@(Html.DevExtreme().FileManager()
    .ID("file-manager")
    .FileSystemProvider(p=>
        p.Remote().Url(Url.Action("FileSystem", "FileManagerApi"))
    )
    .ItemView(view=>
        view.Mode(FileManagerItemViewMode.Thumbnails)
    )
    .Height(450)
    .CustomizeThumbnail("OnCustomizeThumbnail")
    .Permissions(p => {
        p.Download(true);
        p.Create(true);
        p.Copy(true);
        p.Move(true);
        p.Delete(true);
        p.Rename(true);
        p.Upload(true);
    })
    .AllowedFileExtensions(new [] { ".png", ".gif", ".jpg", ".jpeg", ".ico", ".bmp" })
    )